#=====================================================================
#=====================================================================
part=xc7z020clg400-1

[hls]
syn.file=./src_hls/sobel_hls.cpp
syn.top=sobel_accel
tb.file=./src_hls/tb_sobel.cpp
# 目标时钟周期，单位 ns。10=100 MHz
clock=10
package.output.format=ip_catalog
flow_target=vivado
sim.O=1
csim.clean=1
#   csim.setup=1  只**编译** csim.exe，**不运行**。
#   csim.setup=0  编译并**执行**，才看得到 TB PASSED。
csim.setup=0
csim.profile_tripcount=1